<div class="row animate__animated animate__fadeIn" *ngIf="actor">
    <div class="col-md-3">
        <img class="img-thumbnail" [src]="actor.profile_path | poster" [alt]="actor.name">
    </div>
    <div class="col-md-8">
        <h3>{{actor.name}}</h3>
        <div class="row">
            <div class="row mt-6">
                <div class="col text-white">
                    {{actor.biography}}
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <button (click)="onClickRegresar()" class="btn btn-outline-info">
                        Regresar                        
                    </button>
                </div>
            </div>
            <!-- <div class="col">
                <star-rating [value]="pelicula.vote_average" [totalstars]="10" checkedcolor="yellow" uncheckedcolor="grey" size="12px" [readonly]="true"></star-rating>
            </div>
            <div class="col text-white">
                {{pelicula.vote_average | number:'1.1-2'}}
            </div> -->
        </div>
    </div>
</div>